.fw-backend-option-type-multi {
	padding: 0 !important;
}

.fw-option-type-multi > .fw-backend-option {
	border-bottom-width: 0;
}

.fw-option-type-multi > .fw-backend-option.fw-backend-option-type-multi + .fw-backend-option.fw-backend-option-type-multi {
	border-top-width: 1px;
}

/* show options separator borders */

.fw-option-type-multi.fw-option-type-multi-show-borders > .fw-backend-option {
	border-bottom-width: 1px;
}

.fw-option-type-multi.fw-option-type-multi-show-borders > .fw-backend-option:last-child {
	border-bottom-width: 0;
}

/* end: show options separator borders */

.fw-option-type-multi:not(.fw-option-type-multi-show-borders) > .fw-backend-option:not(:last-child) {
	padding-bottom: 0;
}

.fw-backend-option-type-multi.fw-backend-option-design-customizer .fw-option-type-multi > .fw-backend-option {
	padding: 5px 0 10px;
}