#builder-backdrop {
	position: fixed;
	top: 32px;
	left: 0;
	right: 0px;
	bottom: 0;
	z-index: 99997;
	margin: 0;
	background-color: #E1E1E1;
}

#builder-backdrop .buttons-wrapper {
	float: right;
	margin: 10px 20px;
}

#builder-backdrop .button {
	margin-left: 5px;
	float: left;
}

.fw-option-type-builder .fullscreen-btn {
	float: right;
	margin-right: 10px;
	cursor: pointer;
	color: #0074a2;
	margin-top: -6px;

}

.fw-option-type-builder .fullscreen-btn div {
	float: left;
}

.fw-option-type-builder.builder-fullscreen {
	position: fixed;
	padding-top: 10px;
	top: 82px;
	left: 20px;
	right: 20px;
	z-index: 99998;
	margin: 0;
	background-color: #fff;
}

.fw-option-type-builder.builder-fullscreen .builder-root-items {
	overflow: auto;
	overflow-x: hidden;
}

.fw-option-type-builder .icon-fullscreen-on {
	width: 9px;
	height: 18px;
	margin-right: 5px;
	background-position: center;
	background-image: url(../img/fullscreen/fullscreen-on.png);
	background-repeat: no-repeat;
}

.fw-option-type-builder .icon-fullscreen-off {
	width: 9px;
	height: 18px;
	margin-right: 5px;
	background-position: center;
	background-image: url(../img/fullscreen/fullscreen-off.png);
	background-repeat: no-repeat;

}

#builder-backdrop .buttons-wrapper .spinner{
	float: left;
	margin-top: 4px;
	margin-right: 0px;
}

.fw-option-type-builder .ui-tabs-nav{
	width: 80%;
}

.fw-option-type-builder .ui-tabs-nav.ui-helper-clearfix:after{
	clear: none;
}