/* Width Changer */

.fw-builder-item-width-changer {
	white-space: nowrap;
	font-weight: bold;
}

.fw-builder-item-width-changer a {
	font-size: 13px;
	font-weight: bold;
	line-height: 18px;
	width: 18px;
	height: 18px;
	outline: 0;
}

.fw-builder-item-width-changer.is-first a.decrease-width,
.fw-builder-item-width-changer.is-last a.increase-width {
	color: #b2b2b2;
}

.fw-builder-col-1-5{
	width: 20%;
}