.fw-backend-option-type-style {
	padding-left: 0;
	padding-top: 0;
	padding-right: 0;
}


.fw-option-type-style .settings .tabs ul.tabs-titles li {
	display: inline-block;
}

.fw-option-type-style .settings .tabs .block-tab {
	width: 800px;
	height: 200px;
	background-color: #ffffff;
	border: 1px solid red;
}


/* Typography */

.fw-option-type-style .tabs .block-tab select.fw-option-type-typography-option-size {
	width: 62px;
}

.fw-option-type-style .tabs .block-tab select.fw-option-typography-option-style {
	width: 90px;
}

.fw-option-type-style .tabs .block-tab input.fw-option-type-color-picker {
	width: 80px;
}

.fw-option-type-style .tabs .block-tab .iris-picker.iris-border {
	left: 349px;
}
body.rtl .fw-option-type-style .tabs .block-tab .iris-picker.iris-border {
	right: 349px;
	left: auto;
}


/* Settings */

.fw-option-type-style .fw-option-type-style-option .fw-backend-option {
	border-width: 0;
	padding: 15px 25px 0;
}

.fw-option-type-style .fw-options-tabs-first-level.fw-option-type-style-settings > .fw-options-tabs-list ul li a.nav-tab {
	padding: 6px 10px;
	font-weight: 600;
	font-size: 15px;
	line-height: 24px;
	text-decoration: none;
	color: #000000;
	background: #f1f1f1;
	margin: -4px 4px -1px 0;
	border: 1px solid #ccc;
}
body.rtl .fw-option-type-style .fw-options-tabs-first-level.fw-option-type-style-settings > .fw-options-tabs-list ul li a.nav-tab {
	margin: -4px 0 -1px 4px;
}

.fw-option-type-style .fw-options-tabs-first-level.fw-option-type-style-settings > .fw-options-tabs-list ul li:after {
	content: none;
}

.fw-option-type-style .fw-options-tabs-first-level.fw-option-type-style-settings > .fw-options-tabs-list ul li.ui-state-active a.nav-tab,
.fw-option-type-style .fw-options-tabs-first-level.fw-option-type-style-settings > .fw-options-tabs-list ul li.ui-state-focus a.nav-tab {
	color: #222;
	background: 0 0;
	border-bottom: 1px solid #fff;
	outline: none;
}

.fw-option-type-style .fw-options-tabs-first-level.fw-option-type-style-settings > .fw-options-tabs-list ul li.ui-state-hover a.nav-tab {
	background-color: #f8f8f8;
}

.fw-option-type-style .fw-options-tabs-first-level.fw-option-type-style-settings > .fw-options-tabs-list ul li.ui-state-active a.nav-tab,
.fw-option-type-style .fw-options-tabs-first-level.fw-option-type-style-settings > .fw-options-tabs-list ul li.ui-state-focus a.nav-tab {
    background-color: #ffffff;
}

.fw-option-type-style .settings,
.fw-option-type-style .preview {
	display: none;
}

.fw-option-type-style .style-preview {
	position: fixed;
	right: 0;
	width: 560px;
	height: 500px;
	border: 1px solid #cccccc;
	background-color: red;
	display: none;
}
body.rtl .fw-option-type-style .style-preview {
	right: auto;
	left: 0;
}


/* New */

.fw-option-type-style .fw-option-type-style-settings .fw-options-tab .background-image .fw-inner {
	width: inherit;
}

.fw-option-type-style .predefined_styles {
	margin-bottom: 32px;
}

.fw-option-type-style .fw-option-type-style-settings-tabs.fw-options-tabs-list ul li a.nav-tab {
	padding: 1px 14px !important;
	font-size: 12px !important;
	margin: -4px -2px -1px 0 !important;
}
body.rtl .fw-option-type-style .fw-option-type-style-settings-tabs.fw-options-tabs-list ul li a.nav-tab {
	margin: -4px 0 -1px -2px !important;
}

.fw-option-type-style .fw-option-type-style-settings-tabs.fw-options-tabs-list ul li.ui-state-active a.nav-tab,
.fw-option-type-style .fw-option-type-style-settings-tabs.fw-options-tabs-list ul li.ui-state-focus a.nav-tab {
	color: #2ea2cc;
}


/* Preview CSS */

.fw-option-type-style .style-preview {
	position: fixed;
	display: none;
	top: 50px;
	left: 820px;
	right: auto;
	z-index: 1;
	width: 402px;
	height: 50%;
	background-color: #fff;
	border: 1px solid #cccccc;
	margin: 50px 0 0;
}

.fw-option-type-style .preview-block {
    border-top: 1px solid #ccc;
}

.fw-option-type-style .preview-block:first-child {
	border-top: none;
}

.fw-option-type-style .preview-block > div {
	padding: 20px;
	position: relative;
}

.fw-option-type-style .preview-block h1,
.fw-option-type-style .preview-block h2,
.fw-option-type-style .preview-block h3,
.fw-option-type-style .preview-block h4,
.fw-option-type-style .preview-block h5,
.fw-option-type-style .preview-block h6 {
	padding: 0;
	margin: 0 0 .3em;
	line-height: normal;
}

.fw-option-type-style .preview-block p {
	margin: 0 100px 0 0;
}
body.rtl .fw-option-type-style .preview-block p{
	margin: 0 0 0 100px;
}

.fw-option-type-style .preview-block .bl-links {
	position: absolute;
	right: 15px;
	bottom: 20px;
}
body.rtl .fw-option-type-style .preview-block .bl-links {
	right: auto;
	left: 15px;
}

.fw-option-type-style .preview-block .bl-links a {
	font-size: 12px;
	display: inline-block;
	margin-right: 5px;
}
body.rtl .fw-option-type-style .preview-block .bl-links a{
	margin-left: 5px;
	margin-right: 0;
}

.fw-option-type-style .preview-block .bl-links a:hover,
.fw-option-type-style .preview-block .bl-links a.links_hover {
	text-decoration: none;
}

.fw-option-type-style .style-preview .description {
	position: absolute;
	bottom: -40px;
}

.fw-option-type-style .style-preview .description p {
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	color: #999;
}

.fw-option-type-style .style-preview .inner {
	overflow: auto;
	height: 100%;
}

.fw-option-type-style .style-preview .jspPane {
	width: 100% !important;
}

.fw-option-type-style .style-preview .jspVerticalBar {
	width: 6px;
	background: transparent;
	right: 5px;
}
body.rtl .fw-option-type-style .style-preview .jspVerticalBar {
	right: auto;
	left: 5px;
}

.fw-option-type-style .style-preview .jspTrack {
	background: transparent;
}

.fw-option-type-style .style-preview .jspDrag {
	background: none;
}

.fw-option-type-style .style-preview .jspDrag:before {
	content: '';
	position: absolute;
	top: 5px;
	bottom: 5px;
	width: 100%;
	background: #000;
	border-radius: 3px;
}

.fw-option-type-style .style-preview h3 {
	cursor: text !important;
	border: none;
	-webkit-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.fw-option-type-style .fw-inner-option {
    max-width: 428px;
}

.fw-option-type-style .predefined_styles .fw-option-type-image-picker ul.thumbnails.image_picker_selector li {
	margin: 0 8px 1px 0;
}
body.rtl .fw-option-type-style .predefined_styles .fw-option-type-image-picker ul.thumbnails.image_picker_selector li{
	margin: 0 0 1px 8px;
}
