.fw-option-type-icon .show-if-dialog-icon-category-all,
.fw-option-type-icon .show-if-dialog-icon-category-web-app,
.fw-option-type-icon .show-if-dialog-icon-category-form,
.fw-option-type-icon .show-if-dialog-icon-category-currency,
.fw-option-type-icon .show-if-dialog-icon-category-editor,
.fw-option-type-icon .show-if-dialog-icon-category-direction,
.fw-option-type-icon .show-if-dialog-icon-category-video-player,
.fw-option-type-icon .show-if-dialog-icon-category-brand,
.fw-option-type-icon .show-if-dialog-icon-category-medical,
.fw-option-type-icon .ib-if-dialog-icon-category-all,
.fw-option-type-icon .ib-if-dialog-icon-category-web-app,
.fw-option-type-icon .ib-if-dialog-icon-category-form,
.fw-option-type-icon .ib-if-dialog-icon-category-currency,
.fw-option-type-icon .ib-if-dialog-icon-category-editor,
.fw-option-type-icon .ib-if-dialog-icon-category-direction,
.fw-option-type-icon .ib-if-dialog-icon-category-video-player,
.fw-option-type-icon .ib-if-dialog-icon-category-brand,
.fw-option-type-icon .ib-if-dialog-icon-category-medical {
	display: none;
}

.fw-option-type-icon .dialog-icon-category-all .show-if-dialog-icon-category-all,
.fw-option-type-icon .dialog-icon-category-web-app .show-if-dialog-icon-category-web-app,
.fw-option-type-icon .dialog-icon-category-form .show-if-dialog-icon-category-form,
.fw-option-type-icon .dialog-icon-category-currency .show-if-dialog-icon-category-currency,
.fw-option-type-icon .dialog-icon-category-editor .show-if-dialog-icon-category-editor,
.fw-option-type-icon .dialog-icon-category-direction .show-if-dialog-icon-category-direction,
.fw-option-type-icon .dialog-icon-category-video-player .show-if-dialog-icon-category-video-player,
.fw-option-type-icon .dialog-icon-category-brand .show-if-dialog-icon-category-brand,
.fw-option-type-icon .dialog-icon-category-medical .show-if-dialog-icon-category-medical {
	display: block;
}

.fw-option-type-icon .dialog-icon-category-all .ib-if-dialog-icon-category-all,
.fw-option-type-icon .dialog-icon-category-web-app .ib-if-dialog-icon-category-web-app,
.fw-option-type-icon .dialog-icon-category-form .ib-if-dialog-icon-category-form,
.fw-option-type-icon .dialog-icon-category-currency .ib-if-dialog-icon-category-currency,
.fw-option-type-icon .dialog-icon-category-editor .ib-if-dialog-icon-category-editor,
.fw-option-type-icon .dialog-icon-category-direction .ib-if-dialog-icon-category-direction,
.fw-option-type-icon .dialog-icon-category-video-player .ib-if-dialog-icon-category-video-player,
.fw-option-type-icon .dialog-icon-category-brand .ib-if-dialog-icon-category-brand,
.fw-option-type-icon .dialog-icon-category-medical .ib-if-dialog-icon-category-medical {
	display: inline-block;
}

.fw-option-type-icon .fontawesome-icon-list {
	margin-top: 1em;
	padding-left: 1px;
	padding-bottom: 1px;
	overflow: auto;
	max-height: 10.1em;
}

.fw-option-type-icon .fontawesome-icon-list:after {
	content: '';
	display: block;
	clear: both;
}

.fw-option-type-icon .fontawesome-icon-list i {
	float: left;
	width: 1em;
	border: 1px solid #e1e1e1;
	margin: 0 0 -1px -1px;
	padding: 0.5em;
}
body.rtl .fw-option-type-icon .fontawesome-icon-list i {
	float: right;
}

.fw-option-type-icon .fontawesome-icon-list i:before {
	display: inline-block;
	width: 1em;
	text-align: center;
}

.fw-option-type-icon .fontawesome-icon-list i.active,
.fw-option-type-icon .fontawesome-icon-list i:hover {
	background: #2ea2cc;
	color: #fff;
	cursor: pointer;
}

.fw-option-type-icon .fw-backend-option {
	border-bottom: none;
	padding-bottom: 0;
}

.fw-option-type-icon .fw-options-tabs-wrapper .fw-options-tabs-contents {
	margin-top: 0 !important;
}


/* Let's get this party started */

.fw-option-type-icon .fontawesome-icon-list::-webkit-scrollbar {
	width: 5px;
}


/* Handle */

.fw-option-type-icon .fontawesome-icon-list::-webkit-scrollbar-thumb {
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background: rgba(92,92,92,0.8);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.fw-option-type-icon .fontawesome-icon-list::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(92,92,92,0.4);
}
