.wrap-rating.back-end-listing {
	display: inline-block;
}

.wrap-rating .rating-title {
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
	margin-right: 7px;
}

.wrap-rating .fw-stars-rating{
	display: inline-block;
	vertical-align: sub;
}

.wrap-rating .fw-stars-rating span {
	color: #b5d4cc;
	float: left;
	padding: 0 1px;
	font-size: 15px;
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	-ms-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

.fw-stars-rating:hover,
.fw-stars-rating:hover span {
	cursor: pointer;
}

.wrap-rating.edit-backend .fw-stars-rating:hover .fa.fa-star {
	color: #b5d4cc !important;
}

.wrap-rating.edit-backend .fw-stars-rating:hover .fa.fa-star.over {
	color: #016c50 !important;
}

.wrap-rating .fw-stars-rating .fa.fa-star.voted {
	color: #016c50;
}
