.wrap-rating.back-end-listing {
	display: inline-block;
}

.wrap-rating .rating-title {
	font-size: 13px;
	font-weight: bold;
	display: inline-block;
	margin-right: 7px;
}

.wrap-rating .fw-stars-rating{
	display: inline-block;
	vertical-align: middle;
}

.wrap-rating .fw-stars-rating span {
	color: #b5d4cc;
	float: left;
	padding: 0 1px;
}

.wrap-rating .fw-stars-rating .fa.fa-star.voted {
	color: #016c50;
}

table.comments .submitted-on{
	display: inline-block;
	margin-right: 30px;
}