/* Rating */
.wrap-rating.header {
	display: inline-block;
	float: right;
}

.wrap-rating.in-post {
	display: block;
	overflow: hidden;
	margin-bottom: 17px;
}

.wrap-rating.listing {
	display: inline-block;
	float: right;
}

.wrap-rating .rating-title {
	font-size: 15px;
	font-weight: bold;
	display: block;
	margin-bottom: 10px;
}

.wrap-rating .rating-title sup {
	font-size: 16px;
	color: #c4211c;
	top: 0;
	left: 4px;
}

.rating span {
	color: #b5d4cc;
	float: left;
	padding: 0 1px;
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	-ms-transition: color 0.3s ease;
	transition: color 0.3s ease;
}

.wrap-rating.in-post .rating span {
	font-size: 16px;
}

.wrap-rating.header .rating:hover,
.wrap-rating.header .rating:hover span,
.wrap-rating.in-post .rating:hover,
.wrap-rating.in-post .rating:hover span {
	cursor: pointer;
}

.wrap-rating.in-post .rating:hover .fa.fa-star {
	color: #b5d4cc !important;
}

.wrap-rating.in-post .rating:hover .fa.fa-star.over {
	color: #016c50 !important;
}

.rating .fa.fa-star.voted {
	color: #016c50;
}

/* qTip rating */
.qtip-rating-html {
	display: none;
	font-size: 14px;
}

.qtip-rating-html .list-note {
	margin-top: 22px;
	margin-left: 4px;
	margin-bottom: 0;
	list-style: none;
}

.qtip-rating-html .list-note li {
	margin-bottom: 7px;
}

.qtip-rating-html .list-note .note,
.qtip-rating-html .list-note .total {
	display: inline-block;
}

.qtip-rating-html .list-note .note i {
	font-size: 10px;
	vertical-align: middle;
}

.qtip-rating-html .list-note .total {
	opacity: 0.5;
}

.qtip-rating-html .list-note .wrap-bar {
	position: relative;
	display: inline-block;
	width: 83px;
	height: 2px;
	line-height: 14px;
	vertical-align: middle;
	margin: 0 7px;
}

.qtip-rating-html .list-note .rating-bar {
	position: absolute;
	width: 100%;
	height: 2px;
	background: #fff;
	opacity: 0.2;
}

.qtip-rating-html .list-note .rating-bar-progress {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	height: 2px;
	background: #fff;
}

.qtip-rating-html .title-tip {
	margin-left: 3px;
}

.rating-tip {
	border: none;
	background: #006c4f;
	color: #f5f5f5;
	font-size: 14px;
	padding: 22px 15px;
	margin-top: 8px;
}

.rating-tip .qtip-tip {
	display: none !important;
}

.rating-tip:before {
	content: '';
	position: absolute;
	top: -8px;
	left: 50%;
	margin-left: -9px;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #006c4f;
}

@media (max-width: 700px) {
	.rating-tip {
		left: auto !important;
		right: 30px;
	}

	.rating-tip:before {
		left: auto;
		right: 25px;
		margin-left: auto;
	}
}

@media (max-width: 568px) {
	.rating-tip {
		right: 11px;
	}
}
