.fw-option-type-multi-select .selectize-input {
	padding: 4px 6px;
}

.fw-option-type-multi-select .selectize-input.focus.input-active.dropdown-active:before,
.fw-option-type-multi-select .selectize-input.focus.input-active.dropdown-active:before {
	display: none;
}

.fw-backend-option-input-type-multi-select .fw-option-help-in-input {
	top: 4px !important;
}

.fw-backend-option-type-multi-select .selectize-control .selectize-dropdown .selectize-dropdown-content div > .type:before,
.fw-backend-option-type-multi-select .selectize-control .selectize-input > div > .type:before {
	content: "(";
	margin-right: 1px;
}

.fw-backend-option-type-multi-select .selectize-control .selectize-dropdown .selectize-dropdown-content div > .type:after,
.fw-backend-option-type-multi-select .selectize-control .selectize-input > div > .type:after {
	content: ")";
	margin-left: 1px;
}

.fw-backend-option-type-multi-select .selectize-control .selectize-dropdown .selectize-dropdown-content div > .type,
.fw-backend-option-type-multi-select .selectize-control .selectize-input > div > .type {
	opacity: .5;
	font-size: 80%;
	margin-left: 5px;
}