.fw-option-type-multi-select.selectize-control.multi .selectize-input.has-items,
.fw-option-type-multi-select .selectize-input {
	padding: 0 0 3px 3px;
	border-radius: 0;
	border: 1px solid #ddd;
}

.fw-option-type-multi-select .selectize-input {
	padding: 4px 6px;
}

.fw-option-type-multi-select.selectize-control.multi .selectize-input > div {
	margin: 3px 3px 0 0;
}

.fw-option-type-multi-select .selectize-input.focus.input-active.dropdown-active:before,
.fw-option-type-multi-select .selectize-input.focus.input-active.dropdown-active:before {
	display: none;
}

.fw-option-type-multi-select .selectize-input.focus.input-active.dropdown-active:after {
	border-width: 5px 5px 0 5px;
}