.box{
	width: 690px;
	padding: 20px;
	position: relative;
	margin: 30px 0px;
}

.box span{
	font-size: 64px;
	position: absolute;
	top:-32px;
	left:45.5%;
}

.box h4{
	margin: 15px;
	padding: 0px;
	text-align: center;
}

.box p{
	text-align: justify;
}