.fw-option-type-table-builder .fw-table-cell-worksheet.highlight-col {
	-moz-box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 3px 13px 0px rgba(0, 0, 0, 0.2);
	z-index: 10;
	position: relative;
}

.fw-option-type-table-builder .fw-table-cell-worksheet.desc-col {
	text-align: right;
	color: #999;
	border-bottom-style: dotted !important;
	font-style: italic;
	background: transparent;
	width: 150px;
}

.fw-option-type-table-builder .pricing-row .fw-table-cell-worksheet {
	font-size: 20px;
}

.fw-option-type-table-builder .fw-table-cell-worksheet.center-col {
	text-align: center;
}