/* thumb */
.fw-option-type-upload.images-only .thumb {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 50px;
	margin-right: 5px;
	text-align: center;
}
.fw-option-type-upload.images-only .thumb:last-of-type {
	margin-right: 0;
}

/* Non empty thumb */
.fw-option-type-upload.images-only .thumb img {
	display: block;
	width: 100%;
	height: 100%;
}
.fw-option-type-upload.images-only .thumb a {
	position: absolute;
	display: none;
	width: 12px;
	height: 12px;
	top: -6px;
	right: -6px;
	font-size: 14px;
	outline: none;
}
.fw-option-type-upload.images-only .thumb:hover a {
	display: block;
	background-color: #fff;
	border-radius: 50%;
}
.fw-option-type-upload.images-only .thumb a:before {
	margin-left: -1px;
}

/* Upload link */
.fw-option-type-upload.images-only p {
	margin-bottom: 0;
}

.fw-option-type-upload.images-only .no-image-img {
	cursor: pointer;
}