.fw-option-type-multi-upload .media-modal {
	z-index: 170001;
}
.fw-option-type-multi-upload .media-modal-backdrop {
	z-index: 170000;
}
.fw-option-type-multi-upload .delete-attachment {
	display: none;
}