.fw-option-type-switch .adaptive-switch,
.fw-option-type-switch .adaptive-switch label {
	font-size: 11px;
}

.fw-backend-option-input-type-switch .fw-option-help-in-input {
	top: 3px !important;
}

.fw-option-type-switch .adaptive-switch label.switch-label span {
	text-transform: uppercase;
	padding: 0 0.8em;
}

@media (max-width: 782px) {
	.fw-option-type-switch .adaptive-switch {
		font-size: 14px;
	}
}

body.rtl .adaptive-switch {
	direction: ltr;
}

.fw-backend-option-design-customizer.fw-backend-option-type-switch .adaptive-switch .switch-switcher label.switch-label {
	line-height: inherit;
}