.fw-backend-option-type-runnable .runnable-wrapper .runnable-button {
	float: left;
}

.fw-backend-option-type-runnable .runnable-wrapper .runnable-last-run {
	float: left;
	padding-left: 20px;
	line-height: 28px
}