/*.fw-option-type-image-picker ul.thumbnails.image_picker_selector li*/
td.slider_design ul.thumbnails.image_picker_selector li {
	margin-bottom: 0px;
}
.inside .submitbox ul.thumbnails.image_picker_selector li {
	margin-bottom: 0px;
}
td.slider_design .fw-option-type-image-picker {
	margin-bottom: 10px !important;
	margin-top: 10px !important;
}
th.column-slider_design{
	width: 150px;
}
td.column-slider_design{
	line-height: 0 !important;
}
#submitdiv .inside{
	padding-bottom: 0px !important;
}
#submitdiv .fw-backend-options-last-border-hider{
	display: none;
}
#submitdiv #major-publishing-actions{
	border-top-width: 0px;
}
#submitdiv .fw-option-type-image-picker .thumbnail{
	cursor: auto;
}
#post-body-content {
	margin-bottom: 0px !important;
}
