.details-event{
	list-style: none;
	margin-left: 7px;
	padding-top: 15px;
}
.details-event li {
	line-height: 30px;
}
.details-event li a{
	text-decoration: none;
}

.details-event li a:hover{
	text-decoration: underline;
}

.details-event-button{
	display: inline-block;
	float: right;
	margin-top: 27px;
	margin-right: 7px;
}

.details-event-button button{
	text-transform: uppercase;
	font-weight: 100;
	font-size: 12px;
	padding: 10px 18px;
	margin-right: 3px;
}
.details-event-button button:last-child{
	margin-right: 0;
}

.before-hr{
	margin-top: 0;
}

/* Responsive */

/*Screen 768px*/
@media(max-width:991px){
	.details-event-button button{
		display: block;
		margin-bottom: 5px;
		margin-right: 0;
	}
}

/*Screen 568px*/
@media(max-width:767px){
	.details-event-button{
		margin-top: 7px;
	}
	.details-event-button button{
		display: inline-block;
		margin-right: 3px;
	}
	.details-event-button button:last-child{
		margin-right: 0;
	}
}

/*Screen 480px*/
@media(max-width:500px){
	.details-event-button button{
		display: block;
		margin-bottom: 5px;
		margin-right: 0;
	}
	.details-event-button button:last-child{
		float: right;
	}
}

/*Screen 320px*/
@media(max-width:479px){
	.details-event-button{
		margin-bottom: 14px;
		margin-top: 0;
		margin-right: 0;
		float: none;
	}
	.details-event-button button{
		margin-bottom: 0;
		margin-right: 10px;
		display: inline-block;
	}
	.details-event-button button:last-child{
		float: none;
	}
}

.fw-shortcode-map-wrapper.unyson-initialized{
	margin-bottom: 34px;
	margin-top: 40px;
}

