.fw-option-type-datetime-picker .delimiter,
.fw-backend-option-input-type-datetime-range .delimiter {
	margin: 0 10px;
}

.fw-option-type-datetime-range .fw-option-type-datetime-picker.from,
.fw-option-type-datetime-range .fw-option-type-datetime-picker.to,
.fw-option-type-datetime-range .delimiter,
.fw-backend-option-input-type-datetime-range .fw-option-type-datetime-picker.from,
.fw-backend-option-input-type-datetime-range .fw-option-type-datetime-picker.to,
.fw-backend-option-input-type-datetime-range .delimiter {
	display: inline-block;
}

.fw-option-type-datetime-range .fw-option-type-datetime-picker,
.fw-backend-option-input-type-datetime-range .fw-option-type-datetime-picker {
	width: 150px;
}