.fw-icon-v2-preview-wrapper {
    display: flex;
    align-items: center;
}

.fw-icon-v2-preview {
    background-color: #fafafa;
    border: 1px dashed #b7b7b7;
    margin-right: 25px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-size: contain;
    box-sizing: border-box;
}

.fw-icon-v2-preview i {
    color: #7a7a7a;
    background-repeat: no-repeat;
}

.fw-icon-v2-preview a {
    position: absolute;
    top: -10px;
    right: -10px;
    display: none;
}

.fw-has-icon .fw-icon-v2-preview a {
    display: block;
}

.fw-icon-v2-preview a:before {
    background-color: #fff;
    border-radius: 100%;
}

.fw-icon-v2-preview-small [data-icon-type="icon-font"] .fw-icon-v2-preview i,
.fw-icon-v2-preview-medium [data-icon-type="icon-font"] .fw-icon-v2-preview i,
.fw-icon-v2-preview-large [data-icon-type="icon-font"] .fw-icon-v2-preview i {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*** Small Preview ***/
.fw-icon-v2-preview-small .fw-icon-v2-preview {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.fw-icon-v2-preview-small .fw-icon-v2-preview i {
    font-size: 15px;
    width: 15px;
    height: 15px;
}

/*** Medium Preview ***/
.fw-icon-v2-preview-medium .fw-icon-v2-preview {
    width: 55px;
    height: 55px;
}

.fw-icon-v2-preview-medium .fw-icon-v2-preview i {
    font-size: 30px;
    width: 30px;
    height: 30px;
}

/*** Large Preview ***/
.fw-icon-v2-preview-large .fw-icon-v2-preview {
    width: 70px;
    height: 70px;
}

.fw-icon-v2-preview-large .fw-icon-v2-preview i {
    font-size: 45px;
    width: 45px;
    height: 45px;
}


/*** Icon Picker Modal *******************************************************/
.fw-icon-v2-picker-modal li:first-child .nav-tab {
    background: #fff;
}

.fw-icon-v2-picker-modal li .nav-tab {
    background: #f1f1f1;
}

.fw-icon-v2-picker-modal li.ui-tabs-active .nav-tab {
    background: #fff !important;
    background-color: #fff !important;
}

.fw-icon-v2-picker-modal .fw-options-tabs-contents {
    overflow-y: hidden !important;
}

.fw-icon-v2-picker-modal .fw-backend-option-design-default {
    border: none;
}

.fw-icon-v2-picker-modal .fw-backend-option-design-default:not(.fw-backend-option-type-upload) {
    padding: 0;
}

.fw-icon-v2-picker-modal .fw-icon-v2-toolbar {
    padding: 30px 27px 20px;
}

.fw-icon-v2-picker-modal .fw-icon-v2-library-packs-wrapper {
    overflow-y: auto;
    height: 460px;
    padding: 0 27px;
}

.fw-icon-v2-picker-modal .fw-icon-v2-icon-favorites {
    padding: 24px 27px;
}

.fw-icon-v2-picker-modal .media-frame-title {
  display: none;
}

.fw-icon-v2-picker-modal .media-frame.hide-router .media-frame-content {
  top: 0;
}

.fw-icon-v2-picker-modal .fw-options-tabs-wrapper > .fw-options-tabs-list {
    background-color: #fcfcfc;
}

.fw-icon-v2-picker-modal .fw-options-tabs-wrapper > .fw-options-tabs-contents {
    margin-top: 0;
}

.fw-icon-v2-picker-modal .fw-icon-v2-toolbar:after {
    content: '';
    clear: both;
    display: block;
}

.fw-icon-v2-picker-modal .fw-icon-v2-toolbar > input {
    margin-right: 3.8%;
}

.fw-icon-v2-picker-modal .fw-icon-v2-toolbar > input,
.fw-icon-v2-picker-modal .fw-icon-v2-toolbar .selectize-control {
    width: 48% !important;
    float: left;
}

.fw-icon-v2-picker-modal h2 {
    position: relative;
    text-align: center;
}

.fw-icon-v2-picker-modal h2:first-of-type {
    margin-top: 0;
}

.fw-icon-v2-picker-modal h2 span {
    position: relative;
    padding: 0 10px;
    background-color: #fff;
}

.fw-icon-v2-picker-modal h2:before {
    position: absolute;
    left: 0;
    top: 10px;
    content: '';
    width: 100%;
    height: 1px;
    background-color: #ccc;
}

.fw-icon-v2-picker-modal .fw-option-html ul {
    margin: 0;
}

.fw-icon-v2-picker-modal .fw-option-html ul:after {
    content: '';
    clear: both;
    display: block;
}

.fw-icon-v2-picker-modal .fw-option-html ul li {
    width: 59.5px;
    height: 59.5px;
    float: left;
    margin: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.fw-icon-v2-picker-modal .fw-option-html ul li:hover {
    /*border-color: #eee;*/
    box-shadow: 0 2px 16px 4px rgba(43, 43, 54, 0.1);
}

.fw-icon-v2-picker-modal .fw-option-html ul li.selected {
    border-color: #64bd1f;
    box-shadow: 0 2px 16px 4px rgba(43, 43, 54, 0.1);
}

.fw-icon-v2-picker-modal .fw-option-html ul li > i {
    color: #666;
    font-size: 22px;
    text-align: center;
    transition: color 0.2s ease;
}

.fw-icon-v2-picker-modal .fw-option-html ul li:hover > i,
.fw-icon-v2-picker-modal .fw-option-html ul li.selected > i {
    color: #64bd1f;
}

/*** Add to Favorites Button ***/
.fw-icon-v2-picker-modal .fw-option-html ul li a {
    opacity: 0;
    position: absolute;
    padding: 5px;
    top: -2px;
    right: -2px;
    width: 12px;
    height: 12px;
    transition: all 0.2s ease;
}

.fw-icon-v2-picker-modal .fw-option-html ul li:hover a {
    opacity: 1;
}

.fw-icon-v2-picker-modal .fw-option-html ul li a i {
    font-size: 12px;
    width: 12px;
    height: 12px;
    color: #e0e0e0;
    transition: color 0.2s ease;
}

.fw-icon-v2-picker-modal .fw-icon-v2-unfavorite,
.fw-icon-v2-picker-modal .fw-icon-v2-icon-favorites .fw-icon-v2-favorite {
    display: none;
}

.fw-icon-v2-picker-modal .fw-icon-v2-icon-favorites .fw-icon-v2-unfavorite {
    display: block;
}

.fw-icon-v2-picker-modal .fw-option-html ul li a:hover i,
.fw-icon-v2-picker-modal .fw-option-html ul li.fw-icon-v2-favorite a i {
    color: #FFC93C;
}

.fw-icon-v2-picker-modal .fw-option-html .fw-icon-v2-icon-favorites ul li a:hover i {
    color: #FF4617;
}

.fw-icon-v2-icon-favorites h4 {
    margin-top: 4px;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 600;
}

.fw-icon-v2-info {
    font-size: 12px !important;
    line-height: 18px !important;
    color: #FFC93C;
}