/* Thumb */
.fw-option-type-layout-builder .builder-item-type[data-builder-item-type="simple"] img {
	width: 16px;
	height: 16px;
}

/* Box */
.lb-item-type-simple {
	background-color: #fff;
	border: 1px solid #ededed;
	padding: 15px;
	font-size: 13px;
	color: #8c8c8c;
	box-shadow: 0 1px 2px rgba(0,0,0,.1);
	position: relative;
}
.lb-item-type-simple.has-options {
	cursor: pointer;
}
.builder-item.ui-sortable-helper > .lb-item-type-simple {
	cursor: move;
}
.lb-item-type-column > .builder-items .lb-item-type-simple {
	border: none;
}

/* Icon */
.lb-item-type-simple > img {
	width: 16px;
	height: 16px;
	margin-right: 9px;
	vertical-align: text-bottom;
}

/* Controls */
.lb-item-type-simple .controls {
	position: absolute;
	top: 18px;
	right: 5px;
	display: none;
}
.lb-item-type-simple:hover .controls {
	display: block;
}
.builder-item.ui-sortable-helper > .lb-item-type-simple .controls {
	display: none;
}
@media (max-width: 1824px) {
	.lb-column-1-5 .lb-item-type-simple .controls,
	.lb-column-1-4 .lb-item-type-simple .controls {
		top: 5px;
	}
}
.lb-item-type-simple .controls  i {
	font-size: 15px;
	cursor: pointer;
	color: #b2b2b2;
}
.lb-item-type-simple .controls  i:hover {
	color: #8c8c8c
}