.fw-option-type-builder a.undo {
	background-image: url(../img/history/undo.png);
	background-repeat: no-repeat;
	padding-left: 14px;
	background-position: left center;
}

.fw-option-type-builder a.undo.disabled {
	background-image: url(../img/history/undo_disabled.png);
}

.fw-option-type-builder a.redo {
	background-image: url(../img/history/redo.png);
	background-repeat: no-repeat;
	padding-left: 14px;
	background-position: left center;
	margin-left: 14px;
}

.fw-option-type-builder a.redo.disabled {
	background-image: url(../img/history/redo_disabled.png);
}

.fw-option-type-builder .navigation {
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	overflow: auto;
}

.fw-option-type-builder .history-container {
	float: left;
}

.fw-option-type-builder .history-container a {
	margin-right: 10px;
	text-decoration: none;
}

.fw-option-type-builder .history-container a.disabled {
	margin-right: 10px;
	text-decoration: none;
	color: #b2b2b2;
}