.fw-backend-option-input-type-rgba-color-picker .iris-palette {
    height: 33px !important;
    width: 33px !important;
}
.fw-backend-option-input-type-rgba-color-picker .fw-option-help-in-input {
    top: 2px !important;
}
.fw-backend-option-input-type-rgba-color-picker .wp-picker-holder {
    position:absolute;
    z-index:99999;
}
.fw-backend-option-input-type-rgba-color-picker .wp-picker-clear {
    height: 23px !important;
}
.fw-backend-option-input-type-rgba-color-picker .wp-color-result {
    height: auto;
    box-shadow:none;
}
.fw-backend-option-input-type-rgba-color-picker input {
    max-width: 140px !important;
}