.fw-backend-option-type-multi-picker {
	padding-left: 0;
	padding-right: 0;
}

.fw-option-type-multi-picker > .choice-group {
	display: none;
	padding-bottom: 0;
	border-bottom: 0;
}

.fw-option-type-multi-picker > .choice-group.chosen {
	display: block;

	-webkit-animation-name: fwFadeIn;
	animation-name: fwFadeIn;

	-webkit-animation-duration: 1s;
	animation-duration: 1s;
}

.fw-option-type-multi-picker > .choice-group .fw-show-borders .fw-backend-option {
	border-bottom-width: 1px;
}

.fw-option-type-multi-picker > .choice-group .fw-show-borders .fw-backend-option:last-child {
	border-bottom-width: 0px !important;
}

.fw-option-type-multi-picker > .picker-group {
	border-bottom-width: 0px;
	padding-bottom: 0;
}

.fw-option-type-multi-picker > .picker-group > .fw-backend-option {
	padding-top: 0;
}

.fw-option-type-multi-picker .fw-option-type-multi > .fw-backend-option,
.fw-option-type-multi-picker.has-choice > .picker-group {
	padding-bottom: 0;
}

.fw-option-type-multi-picker > .picker-group.fw-show-borders {
	border-bottom-width: 1px;
}
