/* Tabs */
.fw-option-type-layout-builder .fw-options-tabs-list {
	padding-top: 8px;
}
.fw-option-type-layout-builder .fw-options-tabs-contents {
	margin: 20px 0 15px !important;
}
.fw-option-type-layout-builder .fw-option-type-builder-thumbnails-tab > .fw-backend-option-type-html {
	padding: 0 16px !important;
}
.fw-option-type-layout-builder .ui-tabs-nav li {
	margin-right: 1px !important;
}
.fw-option-type-layout-builder .ui-tabs-nav a {
	font-size: 12px !important;
	font-weight: 400 !important;
	padding: 1px 14px 0 14px !important;
	line-height: 25px !important;
	color: #222222 !important;
	background-color: #F1F1F1;
}
.fw-option-type-layout-builder .ui-tabs-nav .ui-state-active a {
	color: #0074a2 !important;
}

/* Thumbs */
.fw-option-type-builder.fw-option-type-layout-builder .builder-item-type {
	display: block;
}
.fw-option-type-layout-builder .builder-item-type .inner {
	width: 100%;
	height: 100%;
	text-align: center;
	position: relative;
	padding-top: 15px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.fw-option-type-layout-builder .builder-item-type .inner.no-image {
	padding: 0;
}
.fw-option-type-layout-builder .builder-item-type img {
	display: inline-block;
	opacity: 0.66;
}
.fw-option-type-layout-builder .builder-item-type:hover img {
	opacity: 1;
}
.fw-option-type-layout-builder .builder-item-type p {
	position: absolute;
	left: 3px;
	right: 3px;
	bottom: 5px;
	height: 30px;
	line-height: 30px;
	margin: 0;
}
.fw-option-type-layout-builder .builder-item-type .inner.no-image p {
	position: static;
	margin: 0 3px;
	line-height: 70px;
}
.fw-option-type-layout-builder .builder-item-type p span {
	display: inline-block;
	vertical-align: middle;
	line-height: 1.2;
	font-size: 10px;
	color: #666;
}
.fw-option-type-layout-builder .builder-item-type:hover p span {
	color: #484848;
}

/* Items */
.fw-option-type-layout-builder .builder-root-items {
	padding: 0;
}
.fw-option-type-layout-builder .builder-root-items > .builder-items {
	min-height: 200px;
}
.fw-option-type-layout-builder .builder-items .builder-item.fw-builder-item-allow-incoming-type > div > .builder-items {
	background-color: #DDFFD2;
}
.fw-option-type-layout-builder .builder-items .builder-item.fw-builder-item-deny-incoming-type > div > .builder-items {
	background-color: #FFEFE7;
}
